/* Estilos generales */
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#search {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 200px;
}

.suggestions-container {
    position: relative;
    top: 0; /* Dejarlo en 0 para que quede justo debajo del input */
    left: 0;
    width: 100%;  /* Ajusta el ancho al tamaño del input */
    max-height: 100px;  /* Limitar la altura de la caja de sugerencias */
    overflow-y: auto;  /* Permitir desplazamiento si hay muchas sugerencias */
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;  /* Eliminar el borde superior para que quede unido al input */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Agregar sombra para mayor visibilidad */
    margin-top: 5px;  /* Un pequeño margen entre el input y la lista */
    border-radius: 5px;  /* Bordes redondeados */
}

.suggestion-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 1rem;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item.active {
    background-color: #d3d3d3;
}

.type-buttons button {
    margin: 5px;
    cursor: pointer;
}

.type-buttons .fire {
    background-color: #f08030;
}

.type-buttons .water {
    background-color: #6390f0;
}

.type-buttons .grass {
    background-color: #7ac74c;
}

.type-buttons .electric {
    background-color: #f7d02c;
}

.type-buttons .bug {
    background-color: #a8b820;
}

.type-buttons .normal {
    background-color: #a8a878;
}

.type-buttons .poison {
    background-color: #a040a0;
}

.type-buttons .flying {
    background-color: #a890f0; /* Color para Volador */
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos para las cards */
.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}

.card h2 {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 10px;
}

.types-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.type {
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 3px;
}

.type i {
    font-size: 1rem;
}

.type:hover {
    opacity: 0.8;
}

.pagination {
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
}

button:hover {
    background-color: #0056b3;
}
